/*
 * Image slider css
 */

.images, .images li , .rotate_list, .rotate_list li { 
	list-style-type: none;
	margin: 0; padding: 0;
	float: left; 
}

.images li { float: left; }

.slider { }

.rotate_list {
	margin: 0px auto;
  padding-top: 5px;
}

.rotate_list_item {
	height: 10px;
	width: 10px;
	display: inline-block;
	background-color: #ddd;
	margin: 0 5px;
	border: 1px solid #999;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;	
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.active_rotate_list_item {
	background-color: #bbb;
}
