.images, .images li , .rotate_list, .rotate_list li { 
	list-style-type: none;
	margin: 0; padding: 0;
	float: left; 
	}
.images li { float: left; }

.images { width: 400%; position: absolute; left:0px; top: 0px; }

.slider {
	position: relative;
	width: 800px;
	height: 280px;
	overflow: hidden;
}

.rotate_list {
	margin: 0px auto;
}
.rotate_list_item {
	height: 10px;
	width: 10px;
	display: inline-block;
	background-color: #ddd;
	margin: 0 5px;
	border: 1px solid #999;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;	
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.active_rotate_list_item {
	background-color: #bbb;
}
